<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome! Log in!</h1>

    <!-- <form method="post">
        <label for="i-username">Username:</label>
        <input type="text" id="i-username" name="username">
        <br>
        <label for="i-password">Password:</label>
        <input type="password" id="i-password" name="password">
        <br>
        <input type="button" id="submit" value="Login">
    </form> -->

    <!-- Let's say this is another way to submit the form -->
    <form action="/login" method="post">
        <label for="i-username">Username:</label>
        <input type="text" id="i-username" name="username">
        <br>
        <label for="i-password">Password:</label>
        <input type="password" id="i-password" name="password">
        <br>
        <input type="submit" id="submit" value="Login">
    </form>
</body>
</html>